<!doctype html>
<html lang="en">

<head>
	<title>| Iniciar Sesión</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="./BigWing/css/style.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="shortcut icon" href="./Assets/Imágenes/favicon.png" type="image/x-icon">
    <link href="./BigWing/css/responsive.css" rel="stylesheet" />
	<link rel="stylesheet" href="./Assets/Estilos/login.css">
	<link rel="shortcut icon" href="./Assets/Imágenes/favicon.png" type="image/x-icon">
</head>

<body id="app">

	<section class="welcome_section layout_padding">
      
         
    </section>
    <div class="service_section">
        <!-- info section -->
        <section class="info_section layout_padding2-bottom">

            <div class="container">

				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-6 col-lg-4">
							<div class="login-wrap py-5">
								<div class="img d-flex align-items-center justify-content-center"
									style="background-image: url(./Assets/Imágenes/subtle-prism.png);"></div>
								<h3 class="text-center mb-0">Welcome</h3>
								<p class="text-center">Sign in by entering the information below</p>
								<!--<form action="#" class="login-form" @submit.prevent>
									<div class="form-group">
										<div class="icon d-flex align-items-center justify-content-center"><span
												class="fa fa-user"></span></div>
										<input v-model="email" type="email" class="form-control" placeholder="Email" required>
										<div class="valid-feedback">Correcto.</div>
										<div class="invalid-feedback">Por favor complete este campo.</div>
										<div class="valid-feedback">Correcto.</div>
										<div class="invalid-feedback">Por favor complete este campo.</div>
										<div v-if="alerts.email" class="alert alert-danger" v-bind:class="{ 'mt-2': alerts.password }">{{ alerts.email }}</div>
									</div>
									<div class="form-group">
										<div class="icon d-flex align-items-center justify-content-center"><span
												class="fa fa-lock"></span></div>
										<input v-model="password" type="password" class="form-control" placeholder="Password"
											required>
											<div v-if="alerts.password" class="alert alert-danger mt-2">{{ alerts.password }}</div>
									</div>
									<div class="form-group">
										<button type="button" class="btn form-control btn-primary rounded submit px-3"
											@click="login">Get Started</button>
									</div>
								</form> !-->
								<form action="#" class="login-form" @submit.prevent>
									<div class="form-group">
										<div class="icon d-flex align-items-center justify-content-center"><span
												class="fa fa-user"></span></div>
										<input v-model="email" type="email" class="form-control" id="email"
											placeholder="Email" name="nombreUsuario" required>
										<div class="valid-feedback">Correcto.</div>
										<div class="invalid-feedback">Por favor complete este campo.</div>
									
									</div>
									<div class="form-group">
										<div class="icon d-flex align-items-center justify-content-center"><span
												class="fa fa-lock"></span></div>
										<input v-model="password" type="password" class="form-control" id="password"
											placeholder="Ingrese su contraseña" name="password">
											
									</div>
									<p v-show="errorLogin" class="text-danger pErrorLogin">El email ingresado o la contraseña son incorrectos</p>
									<div class="form-group">
										<button type="submit" class="btn form-control btn-primary rounded submit px-3"
											@click="login">Iniciar sesión</button>
									</div>
									<div class="invalid-feedback">Por favor complete este campo.</div>
									<div class="w-100 text-center mt-4 text">
										<p class="mb-0">¿No tienes una cuenta?</p>
										<a href="./registro.html">Regístrate</a>
									</div>
							</div>
		
		
							</form>
							
						</div>
					</div>
				</div>

        </section>

        <!-- end info_section -->

        <!-- footer section -->
        <section class="container-fluid footer_section">
            <p>
                © 2019 Todos los derechos reservados

            </p>
        </section>


	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="./Assets/Js/index.js"></script>



</body>

</html>